/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Fixed width container class that will "auto-center" itself */

  .container {
    width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    padding: 25px;
}

/* normal button */
#submit {
    background-color: whitesmoke;
    color: turquoise;
    border-end-end-radius: 50px;
    border-radius: 100px;
    border-color: turquoise;
    width: 150px;
    border-width: 2px;
    padding: 3px;
}

/* round button */
#plus {
    background-color: turquoise;
    color: white;
    border-radius: 50%;
    border-style: none;
    font-size: larger;
    margin: 10px 0px;
}

/* box shadow */
#create{
    background-color: dodgerblue;
    color: white;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px black;
    padding: 5px 10px;
}

/* rows and columns */

.row {
    display: flex;
}

.col {
    flex:1;
    color: white;
    background-color: rgb(70, 133, 127);
    padding: 20px;
    margin: 10px;
}

.col-2 {
    flex: 2;
    color: white;
    background-color: rgb(70, 133, 127);
    padding: 20px;
    margin: 10px;
}

.col-3{
    flex: 3;
    color: white;
    background-color: rgb(70, 133, 127);
    padding: 20px;
    margin: 10px;
}

/* navbar classes */

.nav {
    color:white;
    background-color: rgb(82, 83, 84);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-family: 'Roboto', san-serif;
}

.nav-links {
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 10px;

}

.active {
    font-weight: bolder;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
        background-color: rgb(70, 183, 235);
        color: white;
        border-width: 2px;
        border-color: black;
        box-shadow: 5px 5px black;
        padding: 5px 10px;
}

/* user image */
#user{
    position: relative;
    margin-top: -40px;
    margin-left: 15px;
    border: 1px solid silver;
    border-radius: 50%;
    padding: 2px;
    height:70px;
}